# Ignore all files
*
# Except 
!variance_estimation/
!variance_estimation/variance_estimate.R
!variance_estimation/variance_estimate_means.R
!simulation/
!simulation/estimators_mis.R
!simulation/simulation.R
!simulation/estimators.R
!simulation/simulation_parameters.txt
